@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 13px;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 20px;
    color: #2C2A29;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
}

fieldset{
    border: 0;
}

legend{
    display: none;
}

input{
    font-family: 'Noto Sans KR', sans-serif;
    vertical-align: top;
}

img{
    vertical-align: top;
    border: 0;
    width: 100%;
    height: auto;
}

#wrap{
    width: 100%;
    height: 100%;
    min-width: 1240px;
    position: relative;
}

/* -------------------헤더---------------------- */


.header_wrap{
	margin-bottom: 140px;
}

#header{
	position: fixed;
    top: 0%;
    left: 50%;
    margin-left: -1280px;
    width: 2560px;
    z-index: 100;
    background-color:#F6F5EF;
}

.header_search{
    position: fixed;
    display: none;
    top: 100px;
    left: 50%;
    margin-left: -1280px;
    width: 2560px;
    height: 140px;
    z-index: 110;
    text-align: center;
    background-color:#F6F5EF;
}

.header_search_in{
    width: 1200px;
    height: 120px;
    margin: 0 auto;
    background-color : transparent;
}

.h_search_top{
    position: relative;
    background-color : transparent;
}

.h_search_top input{
    width: 40%;
    height: 50px;
    padding: 5px 65px 5px 5px;
    margin-top: 35px;
    box-sizing: border-box;
    font-size: large;
    text-align: center;
    border-style: none;
    border-bottom: 1px solid #333;
    background-color : transparent;
}

.h_search_btn a{
    position: absolute;
    top: 50%;
    right: 31%;
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../img/header/icon-gnb-sc.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -99999999px;
}

.h_search_close a{
    position: absolute;
    top: 5%;
    right: 1%;
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../img/header/search-close.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -99999999px;
    
}


.h_search_bottom{
    background-color: coral;
}

.header_in{
    position: relative;
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color : transparent;
}

.logo a{
    display: block;
    width: 60px;
    height: 60px;
    background-image: url(../img/header/logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    text-indent: -99999999px;
    object-fit: cover;
}

.pc-gnb ul{
    display: flex;
}

.pc-gnb li{
    margin-right: 40px;
}

.pc-gnb li:last-child{
    margin-right: 0;
}

.pc-gnb li a{
    font-size: 18px;
    font-weight: 500;
    color: #222;
}

.pc-util{
    margin-left: 100px;
}

.pc-util ul{
    display: flex;
}

.pc-util li{
    margin-right: 10px;
}

.pc-util li:last-child{
    margin-right: 0;
}

.pc-gnb li a:hover{
    font-weight: 700;
    color: #007042;
}

.pc-util li a{
    font-size: 15px;
    font-weight: 500;
    color: #222;
}

.pc-util li a:hover{
    font-weight: 700;
    color: #007042;
}

.icons ul{
    display: flex;
}

.icons .icon_menu a{
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(../img/header/icon-menu.png);
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: -9999999px;
}

.icons .icon_search a{
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(../img/header/icon-gnb-sc.png);
    background-size: 25px auto;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -999999999px;
}

/* 전체 메뉴 */
.menu_bg{
    width: 100%;
    height: 2700px;
    background: rgba(0,0,0,0.4);
    position: absolute;
    top: -255px;
    display: none;
    z-index: 110;
}

.search_bg{
    width: 100%;
    height: 2700px;
    background: rgba(0,0,0,0.7);
    position: absolute;
    top:0;
    display: none;
    z-index: 90;
}


.sidebar_menu{
    display: none;
    width: 35%;
    height: 1080px;
    background: #fff;
    position: fixed;
    top:0;
    right: -50%;
    z-index: 120;
           
       }
.close_btn{
    width: 25px;
    height: 25px;
    margin:20px;
}
.close_btn > a{
    display: block;
    width: 100%;
    height: 100%;
}
.menu_wrap{
    list-style: none;
    padding: 15px 100px 0 130px;  
}



.menu_wrap ul{
    margin-bottom: 50px;
}


.menu_wrap li{
    margin-left: 25px;
    margin-bottom: 5px;
}

.menu_wrap li a{
    font-size: 16px;
    color: #666;
    text-decoration: none;

}

.menu_wrap .menu_title{
    margin-left: 0;
    margin-bottom: 10px;
}

.menu_title li{
    margin-left: 0;
}

.menu_wrap .menu_title a{
    font-size: 21px;
    color: #333;
    font-weight: bold;
}
   
.menu_titles{
    display: flex;
}

.menu_titles li{
    margin-right: 30px;
}




/* -------------------푸터---------------------- */

#footer{
    /* border-top: 1px solid #ddd; */
    background-color: #3d3d3d;
    padding-top: 30px;
    padding-bottom: 100px;
}

.footer_in{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.f_logo{
    width: 55px;
    height: 65px;
    background-image: url(../img/footer/f_logo.png);
    background-size: 55px auto;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
    text-indent: -99999px;
}

.f_navi{
    position: absolute;
    top: 10px;
    right: 0;
}

.f_navi ul{
    display: flex;
}

.f_navi li{
    margin-left: 30px;
}

.f_navi li a{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.f_menu{
    margin-bottom: 30px;
}

.f_menu p a{
    color: #aaa;
}

.f_menu .point a{
    color: #fff;
}

.f_menu p span::after{
    content: "";
    display: inline-block;
    vertical-align: top;
    background-color: #aaa;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    margin: 9px 5px 0 5px;
}

.f_menu p span:last-child::after{
    display: none;
}

.f_info{
    margin-bottom: 20px;
}

.f_info ul{
    display: flex;
}

.f_info li{
    color: #aaa;
}

.f_info li::after{
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 1px;
    height: 10px;
    background-color: #aaa;
    margin: 5px 7px 0 7px;
}

.f_info li:last-child::after{
    display: none;
}

.f_copyright{
    color: #aaa;
    font-size: 16px;
}

.f_icons{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;

}
.f_icons p{
    margin-left: 10px;
}

.f_icons p a{
    display: block;
    width: 25px;
    height: 25px;
    background-size: 25px auto;
    text-indent: -99999px;
}

.f_ins a{
    background-image: url(../img/footer/f_ins.png);
}

.f_fb a{
    background-image: url(../img/footer/f_fb.png);
}

.f_yt a{
    background-image: url(../img/footer/f_yt.png);  
}