*{
    margin: 0;
    padding: 0;
    line-height: 2em;
    font-family: 'Noto Sans KR', sans-serif;
}

a{
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #333;
}

input{
	border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    display: inline-block;
    max-width: 530px;
    padding: 10px;
    width: 100%;
    margin-bottom:3px;
    font-size:15px;
    cursor: pointer;
}

select{
    width: 24%;
    padding: 5px;
	border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    display: inline-block;
    max-width: 530px;
    font-size:15px;
    cursor: pointer;
}

h1{
    font-size: 25px;
    text-align: center;
}

form section{ /*2022-02-03 section -> form section margin-bottom: 50px로 변경 수진*/
    text-align: left;
    margin-bottom: 50px;
}

form div{
    margin-bottom: 10px;
}
/*브라우저 리셋 end*/


/* 공통 속성 */
.typeGreen{
    color: #006633;
}
/* 공통 속성 end*/

#container{
	width: 100%;
	font-size: 18px;
}

#containerIn{
    /* background-color: blue; */
    width: 500px;
    margin: 0 auto;
    padding: 10px;
}

.containerIn section{
	width: 100%
}

.info{
    margin-bottom: 30px;
}

.infoImg{
    background-image: url(../img/member/icon_find_sally.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
	width: 210px;
	height: 210px;
	margin: 0 auto;
}

.infoText{
    font-size: 20px;
    text-align: center;
}

.submit{
    color: white;
    font-size: 16px;
    background-color: #006633;
    cursor: pointer;
}

.submit:hover{
    background-color: #00a151;
}



