*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    color: #333;
}

a{
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

button{
	cursor: pointer;
}

ul{
    list-style: none;
}

form div{
    margin-bottom: 10px;
}

h1{
    font-size: 25px;
    text-align: center;
}

.hid {
    position: absolute;
    left: -9999px;
    font-size: 0;
    width: 0;
    height: 0;
    text-indent: -9999px;
    overflow: hidden;
}

.typeGreen{
    color: #006633;
}

#container{
	width: 100%;
	background-color: blue;
    line-height: 1.8em;
}

#loginWrapInner{
    width: 500px;
    margin: 0 auto;
}

fieldset{
    border: 1px solid #ddd;
    padding: 30px;
    margin-top: 100px;
}
.loginInput{
	border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    display: inline-block;
    max-width: 530px;
    padding: 10px;
    width: 100%;
    margin-bottom:10px;
}
.loginFormTxt{
    background: #fff;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    padding: 30px 20px 30px;
    margin-bottom: 20px;
}
.checkWrap {
    display: block;
    margin-bottom: 20px;
}
input.saveId[type=checkbox]:not(old) {
    position: absolute;
    width: 26px;
    height: 26px;
    padding: 0;
    border: 0 none;
    background: #fff;
    cursor: pointer;
}
input.saveId[type=checkbox]:checked + label, input.mem[type=checkbox]:active + label {
    background: #fff url(//image.istarbucks.co.kr/common/img/util/mem/mem_check_on.png) no-repeat 0 0;
    background-size: 26px;
}
input.saveId[type=checkbox]:not(old) + label {
    position: relative;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding-left: 35px;
    background: #fff url(//image.istarbucks.co.kr/common/img/util/mem/mem_check_off.png) 0 0 no-repeat;
    font-size: 16px;
    color: #3f4141;
    cursor: pointer;
    vertical-align: top;
    background-size: 26px;
    cursor: pointer;
    z-index: 4;
}
.btnMemLogin{
    margin-bottom: 20px;
}
.btnLogin{
	line-height: 1.8em;
    color: white;
    font-size: 16px;
    background-color: #006633;
    width: 100%;
    border: 0px;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}
.btnLogin:hover{background-color: #00a151;}


.inputWarnText{font-size: 14px; margin-bottom: 20px; line-height: 1.8em;}


.loginBtnWrap ul{display: flex; justify-content: space-around;}
.loginBtnWrap ul li{position: relative;}
.loginBtnWrap ul li a:hover{text-decoration: underline;}
.loginBtnWrap ul li:after {
    border-right: 1px solid #ddd;
    color: #666;
    content: "";
    height: 22px;
    margin-top: -11px;
    position: absolute;
    right: -30px;
    top: 50%;
}
.loginBtnWrap ul li.last:after {border-right: 0;}